Source: ukuu
Section: utils
Priority: extra
Maintainer: Tony George <tony.george.kol@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, valac, libgtk-3-dev, libgee-0.8-dev, libjson-glib-dev, libvte-2.91-dev
Standards-Version: 3.9.3
Homepage: http://teejeetech.blogspot.in/p/ukuu.html

Package: ukuu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, rsync, aptitude, aria2, curl
Recommends: 
Description: Kernel Update Utility for Ubuntu-based distributions
 Utility for installing mainline Linux kernels on Ubuntu-based distributions.
 Downloads and installs kernel packages from kernel.ubuntu.com.
