app_name: Ubuntu Kernel Update Utility
depends_debian:  libgee-0.8-2 libvte-2.91-0 libjson-glib-1.0-0 rsync aptitude aria2
depends_redhat:  libgee vte291 json-glib rsync aptitude aria2
depends_arch:    libgee vte3 json-glib rsync aptitude aria2
depends_generic: libgee libvte json-glib rsync aptitude aria2
assume_yes: 0
exec_line: pkexec ukuu-gtk
