[Desktop Entry]
Name=Ukuu Kernel Update Utility
MimeType=
Exec=ukuu-gtk
Type=Application
GenericName=Kernel Update Utility
GenericName[ru]=Программа обновления ядра
Terminal=false
Icon=ukuu
Comment=Kernel Update Utility
Comment[ru]=Программа обновления ядра
X-KDE-StartupNotify=false
Categories=System;
