[Desktop Entry]
Name=Ukuu Kernel Update Utility
MimeType=
Exec=ukuu-gtk
Type=Application
GenericName=Kernel Update Utility
Terminal=false
Icon=ukuu
Comment=Kernel Update Utility
X-KDE-StartupNotify=false
Categories=System;
Name[en_IN]=Kernel Update Utility
