[Desktop Entry]
Name=Kernel Upgrade Utility
MimeType=
Exec=ukuu-launcher
Type=Application
GenericName=Kernel Upgrade Utility
Terminal=false
Icon=ukuu
Comment=Kernel Upgrade Utility
X-KDE-StartupNotify=false
Categories=System;
Name[en_IN]=Kernel Upgrade Utility
